# Secrets
.env
*.key
*.pem
SECRET_FILE_DO_NOT_COPY.md

# Build artifacts
*.o
*.a
*.so
*.out
CHACHAPOYAN_FERTILITY_IDOL
*.bin
*.elf
*.mod
*.ko
*.d

# Logs
*.log
*.log.*
logs/

# Source trees
binutils-*/
gcc-*/
glibc-*/
mpfr-*/
gmp-*/
mpc-*/

# Archives
*.tar.*
*.zip
*.xz
*.7z

# Editor junk
*.swp
.DS_Store
.idea/
.shellcheckrc

# Temporary/Backup
*~
~*
*.000
*.backup
*-backups
*-bak
*-bak*
*.bak
*.bck
*-cache*
*.cache
*.kicad_pcb-bak
*.kicad_sch-bak
*.old
*.orig
*.tmp

### Visual Studio Code ###
.history/
*.vsix
.ionide
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

### SSH ###
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts
.authorized_hosts

# Script Output
raspberrypi/sysroot
toolchain/

# Misc
config.guess
config.sub

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/


_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Archived Backups (KiCad 6.0)
**/*-backups/*.zip

# Local project settings
*.kicad_prl
