#!/bin/bash
set -e

export PROJECTROOT="/home/somebody/projects/project_name"
export ARCH=arm
export CCPREFIX=arm-linux-gnueabihf
export CROSS_COMPILE=${CCPREFIX}-
NBIN_FOLDER="${PROJECTROOT}/toolchain-$(arch)"
export NBIN_FOLDER
export XBIN_FOLDER="${PROJECTROOT}/toolchain-${ARCH}"
export SYSROOT="${PROJECTROOT}/toolchain-sysroot"
export SOURCEROOT="${PROJECTROOT}/toolchain-src"
export BUILDROOT="${PROJECTROOT}/toolchain-build"
export KERNEL=kernel    # following the example
            # from https://www.raspberrypi.com/documentation/computers/linux_kernel.html#cross-compile-the-kernel
            # for building a Raspberry Pi Zero kernel
export RPI_KERNEL_HEADERS=yes
